h1{
text-align: center;
font-family:'Times New Roman', serif;
color: green;
}

.adddropfiles{
    margin-top: 50px;
    font-family:'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    color: #4c6dbf;
  }
